@import "../main.scss";

.signup {
  background-image: url("../assets/images/header-bg.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    background-color: white;
    border-radius: 2rem;
    padding: 4rem;

    h2 {
      color: $main-blue-color;
      align-self: center;
      font-size: 2rem;
    }

    .logo {
      width: 10rem;
      align-self: center;
      img {
        width: 100%;
      }
    }

    .alert {
      background-color: $error-light-color;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      border: 1px dashed $error-dark-color;
      padding: 1rem;
      border-radius: 1rem;
      width: 25rem;

      p {
        color: $error-dark-color;
        margin-left: 0.2rem;
      }
    }

    .confirm {
      background-color: $light-green;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      border: 1px dashed $dark-green;
      padding: 1rem;
      border-radius: 1rem;
      width: 25rem;

      p {
        color: $dark-green;
        margin-left: 0.2rem;
      }
    }

    .text-area {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        border: 1px dashed $main-gray;
        outline: none;
        padding: 1rem;
        border-radius: 1rem;
        width: 25rem;
        height: 3rem;
      }

      p {
        color: $main-blue-color;
        font-size: 1.25rem;
      }
    }

    .question {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
      }
      p {
        color: $light-gray;
        font-size: 1rem;
        margin-bottom: 5px;

        &:hover {
          color: $main-blue-color;
          cursor: pointer;
        }
      }
    }
    .btn {
      background-color: $main-blue-color;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 1rem;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:active {
        opacity: 0.4;
      }
      p {
        color: white;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .signup {
    form {
      gap: 1rem;
      padding: 2rem;
      h2 {
        font-size: 1.5rem;
      }
      border-radius: 0;
      width: 100vw;
      height: 100vh;

      .logo {
        width: 10rem;
      }

      .text-area {
        input {
          width: 20rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .btn {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .signup {
    form {
      .logo {
        width: 8rem;
      }

      .text-area {
        input {
          width: 16rem;
        }
      }
    }
  }
}
