@import "../main.scss";

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: relative;
  width: 20rem;
  height: 6rem;
  border: 1px dashed #dbdbdb;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;

  &:hover {
    .icon-close {
      display: initial;
    }
  }

  .icon-close {
    width: 0.6rem;
    top: 5px;
    right: 7px;
    position: absolute;
    display: none;
    filter: invert(99%) sepia(1%) saturate(1152%) hue-rotate(309deg)
      brightness(93%) contrast(86%);

      &:hover {
        cursor: pointer;
      }

    img {
      width: 100%;
    }
  }

  .task-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    .image {
      width: 6rem;
      height: 5rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      margin-right: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .icon {
    width: 1.5rem;
    margin-left: 1rem;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
    }
  }
  .task-list-icon {
    filter: invert(83%) sepia(12%) saturate(173%) hue-rotate(193deg)
      brightness(92%) contrast(83%);
  }
  .done-icon {
    filter: invert(30%) sepia(21%) saturate(933%) hue-rotate(100deg)
      brightness(88%) contrast(96%);
  }
  .pending-icon {
    filter: invert(47%) sepia(80%) saturate(2146%) hue-rotate(358deg)
      brightness(99%) contrast(110%);
  }
}
