@import "../main.scss";

.task {
  background: white;
  display: flex;
  width: 20rem;
  height: 6rem;
  align-items: center;
  border: 1px dashed #dbdbdb;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;
  position: relative;
  .image {
    width: 6rem;
    img {
      width: 100%;
    }
  }

  p {
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }

  .icon {
    width: 1.5rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
    img {
      width: 100%;
    }
  }
}
