@import url(https://fonts.googleapis.com/css?family=Tajawal);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Tajawal, sans-serif;
}

$main-blue-color: #45b7d2;
$main-blue-color-light: #cce9ef;
$main-gray: #dbdbdb;

$primary-color: #040a2f;
$primary-light-color: #1e275b;
$title-color: #48538e;
$white-gray: #fafafa;

$dark-gray: #2a4365;
$light-gray: #b9bbc6;

$dark-orange: #ff6f00;
$light-orange: #fde3c5;

$dark-green: #22543d;
$light-green: #c6f6d5;

$box-shadow: -22px -4px 8px rgba(0, 0, 0, 0.03);

