@import "../main.scss";

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 2rem;

  background: $primary-color;
  width: 20rem;
  height: 100vh;

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .page-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      padding-left: 1rem;
      width: 15rem;
      height: 3.5rem;
      border-radius: 5px;

      &:hover {
        background: $primary-light-color;
        cursor: pointer;
      }

      .icon {
        width: 1.5rem;
        margin-right: 2rem;
        img {
          width: 100%;
          filter: invert(80%) sepia(2%) saturate(941%) hue-rotate(194deg)
            brightness(94%) contrast(92%);
        }
      }

      p {
        color: $light-gray;
        text-align: left;
        font-size: 1.3rem;
      }
    }
  }

  .logout {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2rem;
    margin-top: 60vh;
    padding-left: 1rem;

    &:hover {
      cursor: pointer;
    }
    .icon {
      width: 1.5rem;
      margin-right: 2rem;
      img {
        width: 100%;
        filter: invert(80%) sepia(2%) saturate(941%) hue-rotate(194deg)
          brightness(94%) contrast(92%);
      }
    }

    p {
      color: $light-gray;
      text-align: left;
      font-size: 1.3rem;
    }
  }
}
